@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/*
TABLE OF CONTENTS
  DEFAULT
    00. Color Palette
    01. General 
    02. Header (Navigation bar)
    03. Home
    04. About
    05. Academic Programs
    06. Research & Publications
    07. News & Announcements
    08. Resource & Facilities
    09. Extension
    10. Footer


  RESPONSIVE
    - 900px
    - 1000px

  ANIMATION


*/

/*-----------------------------------*/
/*             DEFAULT               */
/*-----------------------------------*/

/* 00. COLOR PALETTE */
:root {
    --primary: #038303;
    --secondary: #003a10; 
    --tertiary: #E8D203;
    --yellow-green: #92d12c;
    --primary2: #4eab18;

    --gray: #757575;
    --d-gray: #494949;
    --dark-gray: #212121;
    --bg: #f9f9f9;

    --border-gray: #dee2e6;
    
    --primary-gradient: linear-gradient(to right, rgb(0,129,2), rgb(149,210,45));
    --gray-gradient: linear-gradient(to top, rgba(3, 3, 3, 0.7), transparent);
    --tall-opacity: rgba(78, 171, 24, 0.7);
  

    --primary-opacity: rgba(78, 171, 24, 0.9);
    --secondary-opacity: rgba(0, 58, 16, 0.9);
    --secondary-hero: rgba(0, 58, 16, 0.7);
    --gray-opacity: rgba(21, 21, 21, 0.777);
    --light-gray: rgb(228, 228, 228);
    --footer-opacity: rgba(33, 33, 33, 0.828);

    --black: #2f2f2f;
    --white: #ffffff; 
    --p-black: #36363d;



/*
    - --yellow: #cdfb13; → RGB(205, 251, 19)
    - --green: #92d12c; → RGB(146, 209, 44)
    - --green-50: #4eab18; → RGB(78, 171, 24)
    - --green-100: #038303; → RGB(3, 131, 3)
    - --green-150: #003a10; → RGB(0, 58, 16)
*/
    --red: #e2231a;
    --red-100: #c01e16;
    --blue-50: #dde5eb;
    --blue: #008dea;
    --orange: #f9c150;
    --white: #ffffff;
    --white-50: #f1f2f3;
    --gray: #dad8d8;
    --gray-100: #979797;
    --black-20: #525252;
    --black-25: #3a3a3a;
    --black-50: #313131;
    --yellow: #cdfb13;
    --green: #92d12c;
    --green-50: #4eab18;
    --green-100: #038303;
    --green-150: #003a10;
    --green-grad: linear-gradient(90deg, rgba(0,129,2,1) 0%, rgba(149,210,45,1) 100%);
    /* SDG Colors */
    --sdg-1: #e5243b;
    --sdg-2: #dda83a;
    --sdg-3: #4c9f38;
    --sdg-4: #c5192d;
    --sdg-5: #ff3a21;
    --sdg-6: #26bde2;
    --sdg-7: #fcc30b;
    --sdg-8: #a21942;
    --sdg-9: #fd6925;
    --sdg-10: #dd1367;
    --sdg-11: #fd9d24;
    --sdg-12: #bf8b2e;
    --sdg-13: #3f7e44;
    --sdg-14: #0a97d9;
    --sdg-15: #56c02b;
    --sdg-16: #00689d;
    --sdg-17: #19486a;
}  



/* 01. GENERAL */
html,
body {
  font-size: 15px;
  color: var(--black);
  background-color: var(--bg);
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  display: inline-block;
  width: 80%;
  font-size: 50px;
  font-weight: 700;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary); 
  padding: 9px 20px;
  width:  auto;
  font-family: 'Roboto', sans-serif;
}
.btn-primary:hover, .btn-primary:active {
  background-color: var(--yellow-green);
  border: none;
}

.btn-success {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary); 
  padding: 9px 20px;
  width:  auto;
  font-family: 'Roboto', sans-serif;
}
.btn-success:hover, .btn-success:active {
  background-color: var(--yellow-green);
  border: none;
  transform: scaleX(1.03);
  transition: transform 0.3s ease-in-out;
}

.card-btn{
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary); 
}
.card-btn:hover {
  background-color: var(--yellow-green);
  border-color: var(--yellow-green);
}
a {
  text-decoration: none !important;
}
.card-body2 a {
  text-decoration: none !important;
  color: white;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
span {
  font-size: 14px;
  line-height: 1;
}
.rounded {
  border: 1.3px solid  var(--light-gray);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.063);
}
.rounded-shadow {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.214);
}
.shorter-line {
  border-top: 3px solid var(--tertiary);
  width: 8%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.add-spacing {
  padding-bottom: 40px;
}
.pop {
  color: inherit; /* Set the color to inherit from its parent */
  text-decoration: none;
}

li::marker {
  color: var(--tertiary); /* Change bullet color */
}
.a-link:hover, span .a-link:hover  a{
  color: var(--tertiary);
}









/* 02. HEADER (navigation bar) */

/* Navbar Header */
.page-header {
  background-color: var(--secondary) !important;
  padding: 2px 15px;
  font-family: 'Roboto', sans-serif;
}
.page-header a {
  font-size: 11px;
  color: var(--white);
}
.navbar-header {
  padding: 15px;
}
.navbar-header-logo-container {
  background-color: var(--bg);
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 50px;
  z-index: 4;
}
.nav-header-left {
  margin-left: 160px;
}
.nav-header-right a {
  font-weight: bold;
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  margin-left: -45px;
  font-size: 18px;
}
.nav-header-college h2 {
  font-weight: bold;
  background-image: var(--primary-gradient);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Hide the original text color */
}
.nav-header-address h6 {
  font-size: clamp(10px, 2.6vw, 17px);
}
.nav-header-address {
  background-image: var(--primary-gradient);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
}


/* Sticky navigation */
.navbar {
  z-index: 3;
  font-family: 'Roboto', sans-serif;
}

/* Actual Navbar s*/
.navbar {
  background: var(--primary-gradient) !important;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
}
.navbar .nav-link.active {
  color: var(--tertiary);
  width: 100%;
  font-weight: 450;
}
.navbar .nav-link:hover {
  background-color: var(--yellow-green);
}
.navbar .nav-link {
  color: var(--white);
}
.navbar .nav-link.active {
  color: var(--tertiary);
}
.nav-item {
  padding: 0 7px;
}

/* Toggler and Offcanvas */
.navbar-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.custom-toggler {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.custom-toggler-icon {
  color: var(--white);
}
.offcanvas {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
}
.custom-close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--yellow-green); /* Dark background color */
  color: white; /* White text color */
  border: none;
  outline: none;
  transition: transform 1s ease-in-out;

}

/* Dropdown */
.navbar .dropdown-menu {
  background-color: var(--primary);
  border: none;
}
.navbar .dropdown-item {
  color: var(--white);
}
.navbar .dropdown-item:hover, .navbar .dropdown-item.active  {
  background-color: var(--tertiary);
}

/* Dropdown submenu */
.dropdown-menu li {
  position: relative;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
.dropdown-menu .dropdown-item{
  padding-right: 30px;
}
.drop-down {
    padding: 100px;
}
.dropdown-submenu {
  width: 100%;
}
    
    
/* 03. HOME */
/* Home Carousel Slides OVERVIEW */
/* Home Gradient */
.gradient-overlay {
  background: linear-gradient(to right, var(--gray-opacity), transparent);
  z-index: 1;
}
.carousel-control-prev, .carousel-control-next, .carousel-caption {
  z-index: 2;
}
/*Carousel Caption*/
.hero-univ span {
  font-size: 25px;
}
.hero-quote p {
  font-size: 20px;
}
.hero-logo img {
  height: 40px;
  margin-bottom: 15px;
}
.hero-button .btn-dark {
  padding: 2px 15px;
  border-radius: 20px;
  border-style: none;
}



/* Number of */
.number-of {
  color: #4eab18;
}
.number-of-text {
  color: var(--secondary);
}


/* News and Announcement OVERVIEW */
.section-title {
  color: var(--primary);
}
.section-subtitle::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 30px;
  background-color: var(--tertiary);
  margin-right: 10px;
  margin-bottom: -5px;
}


/* News and Announcement (Latest News)  */
#news-carousel {
  position: relative;
}
#news-carousel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: var(--gray-gradient);
  z-index: 1;
}
.news-img img {
  border-radius: 3px;
  object-fit: cover;
  z-index: 1;
}


/* News and Announcements (Upcoming Events)*/
.card {
  border-radius: 3px;
}
.card-caption {
  margin-bottom: 0px;
}
.calendar {
  background: var(--white);
  border-radius: 3px;
  height: 85px;
}
.event-date {
  background: var(--primary);
  height: 100%;
}
.event-num {
  background: var(--primary);
  font-size: 27px;
  margin-bottom: 0;
}
.event-month {
  font-size: 13px;
  color: var(--yellow-green);
  text-transform: uppercase;
}
.event-loc {
  color: var(--primary);
}
.event-description {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  width: 60%;
  display: -webkit-box;
  margin: 0;
  /*-webkit-line-clamp: 2; // Number of lines to show before truncating 
  -webkit-box-orient: vertical;*/
} 
.event-description h5 {
  font-size: clamp(5px, 3vw, 20px) !important;
}
.event-description p {
  font-size: clamp(5px, 2.5vw, 16px) !important;
}

/* Academic Programs OVERVIEW */
.card {
  border: none;
  overflow: hidden;
  position: relative;
  height: 300px;
  display: block;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*
.card-logo-container {
  position: absolute;
  top: 1rem; 
  right: 1rem;
  z-index: 1;
}
.card-logo {
  max-width: 30px;
  max-height: 28px;
  margin-right: 10px;
}*/
.card-overlay {
  padding: 1rem;
  background: var(--gray-gradient); 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  transition: height 0.5s ease;
}

.card:hover .card-overlay {
  background: var(--tall-opacity);
  height: 100%;
}

/* card-overlay2 to side*/
.card-overlay2 {
  padding: 0;
  background: var(--gray-gradient); 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 200%;
  transition: opacity 0.5s ease; 
}

.card:hover .card-overlay2 {
  background: var(--tall-opacity);
}


.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: var(--white);
  display: block;
  transition: visibility 1s ease;
  z-index: 2;
}
.card-body1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: var(--white);
  display: block;
  transition: visibility 1s ease;
  z-index: 2;
}
.card-body2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: var(--white);
  display: none;
  transition: visibility 5s ease-in;
  z-index: 2;
}
.card:hover .card-body {
  display: none;
}
.card:hover .card-body2 {
  display: block;
  transition: visibility 5s ease-in;
}


/* About and Research & Publications OVERVIEW */
.four-view img {
  width: 100%;
  height: 365px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}/*
.four-view iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}*/

/* Commercial */
.showcase-text {
  padding: 20px;
}
.showcase-title {
  color: var(--tertiary);
}
.showcase-caption {
  color: var(--white);
  text-align: justify;
}
.iframe-container {
  height: 400px;
  margin-top: 50px;
}
.responsive-iframe {
  width: 100%;
  height: 100%;
}
.iframe-bg {
  background-color: var(--secondary);
}
.commercial {
  position: relative;
  overflow: hidden;
}

.showcase-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Image on bottom */
}

.showcase-img img {
  width: 100%;
  height: 100%;
}

.showcase-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary-opacity), var(--secondary-opacity)); 
  z-index: 2; /* Overlay on top of image */
}

.showcase-section {
  position: relative; /* Ensure the content is stacked on top */
  z-index: 3; /* Content on top of overlay */
}


/*
.ov-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.ov-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary-opacity), var(--secondary-opacity));
}/*
.ov-content {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: var(--white);
  z-index: 3;
}*/

.ov-image-container {
  position: relative;
}
.ov-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--primary-opacity), var(--secondary-opacity)); 
  z-index: 1; 
}
.ov-content {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1; 
  color: var(--white); 
  text-align: left;
  padding: 60px;
  margin-top: 10px;
}
.ov-title {
  color: var(--tertiary);
  font-size: 24px;
}
.ov-description {
  font-size: 16px;
  text-align: justify;
}


/* Facilities and Card */


/* Department */


/* 04. ABOUT */
/* 03. ACADEMIC PROGRAMS  */
/* 03. RESEARCH & PUBLICATIONS */
/* 03. NEWS & ANNOUNCEMENTS */
/* 03. RESOURCE & FACILITIES */
/* 03. EXTENSION */


/* 10. FOOTER */
.footer {
  background-color: var(--footer-opacity);
}
.footer-bg {
  position: relative;
}
.footer-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  object-fit: cover;
  z-index: 1; 
}
.footer {
  position: relative;
  z-index: 2;
}
.footer-end {
  width: 150%;
  height: 20px;
  margin-left: -20px;
  background-color: var(--primary);
}
.footer .footer-offwhite {
  color: #cbcbcb;
}
/* Footer title color */
.footer h5, .footer h6 {
  color: var(--white);
}
.footer a {
  color: inherit;
  text-decoration: none;
}




/* GO TO TOP */
/* Styles for the scroll to top button */
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.214);
}

.scroll-to-top i, .btn i{
  font-size: 19px;
  font-weight: bold;
}

.scroll-to-top:hover {
  transform: scale(1.1);
  background-color: var(--primary2);
  font-size: 21px;
}


/*-----------------------------------*/
/*            RESPONSIVE             */
/*-----------------------------------*/
/*
col-* - 0 (xs)
col-sm-* - 576px
col-md-* - 768px
col-lg-* - 992px
col-xl-* - 1200px
col-xxl-* - 1400px */

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 45px;
  }
  /*Carousel Caption*/
  .hero-univ span {
    font-size: 20px;
  }
  .hero-quote p {
    font-size: 18px;
  }
  .hero-logo img {
    height: 35px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 992px) {
  .offcanvas .nav-item {
    border-radius: 3px;
    margin: 0px;
    padding: 10px;
  }
  .offcanvas .dropdown-menu, .offcanvas .dropdown-submenu {
    margin: 0;
    padding: 0;
  }
  .navbar .nav-link {
    padding: 10px;
    border-bottom: 1.5px solid var(--primary2);
  }
  .navbar .nav-item {
    padding: 2px;
  }

  .navbar .nav-link.active:hover {
    background-color: var(--primary2);
  }

  .calendar {
    height: auto;
  }
  .event-description {
    white-space: wrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    width: 100%;
    padding: 0 20px;
    /*-webkit-line-clamp: 2; // Number of lines to show before truncating 
    -webkit-box-orient: vertical;*/
  } 
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 35px;
  }
  /*Carousel Caption*/
  .hero-univ span {
    font-size: 18px;
  }
  .hero-quote p {
    font-size: 17px;
  }
  .hero-logo img {
    height: 30px;
  }
}



/*-----------------------------------*/
/*            ANIMATION              */
/*-----------------------------------*/
.custom-close:hover {
  transform: rotate(360deg);
}

.img-zoom-container {
  overflow: hidden;
}
.img-zoom {
  transition: transform 0.3s ease;
}
.img-zoom-container:hover .img-zoom {
  transform: scale(1.2);
}

.pop:hover .calendar, .pop:hover .card {
  transform: translateY(-5px); 
  transition: transform 0.3s ease; 
}
.pop:hover .faculty-container {
  transform: translateY(-5px); 
  transition: transform 0.3s ease; 
}